#vista_fabricacion {
    /*justify-content: space-evenly;*/
    padding: 20px;
    box-sizing: border-box;
}

#vista_fabricacion[modo="listado_ordenes"] table#tabla_contenido_orden_fabricacion{
    display: none;
}

#vista_fabricacion[modo="contenido_orden"] table#tabla_ordenes_fabricacion{
    display: none;
}

#tabla_trazabilidad_fabricacion tbody tr.trazabilidad-inactiva * {
    background-color: #f8d7da;
}

#tabla_operarios_fabricacion tbody tr.operario-row-selected > td {
    background-color: #d8f0ff;
    color: #0b2f4a;
    font-weight: 600;
}

