#vista_recepcion {
    /*justify-content: space-evenly;*/
    padding: 20px;
    box-sizing: border-box;
}

#vista_recepcion[modo="listado_entradas"] table#tabla_contenido_entrada_recepcion{
    display: none;
}

#vista_recepcion[modo="contenido_entrada"] table#tabla_entradas_recepcion{
    display: none;
}